@keyframes zoom {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(0.4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

::selection {
  background-color: #01bc67; }

body {
  background-color: #000;
  color: white;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7; }

.primary-heading {
  font-size: 3.6rem;
  text-shadow: 0px 5px 10px #000; }
  .primary-heading--main {
    color: #fff; }
  .primary-heading--sub {
    color: #01bc67; }

.secondary-heading {
  font-size: 3.5rem;
  text-shadow: 0px 5px 10px #01bc67; }
  @media only screen and (max-width: 56.25em) {
    .secondary-heading {
      text-align: center; } }

.black-text {
  color: #000 !important; }

.text-center {
  text-align: center !important; }

.margin-top-small {
  margin-top: 2rem; }

.margin-top-medium {
  margin-top: 4rem; }

.margin-top-huge {
  margin-top: 10rem; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.margin-bottom-medium {
  margin-bottom: 4rem; }

.margin-bottom-big {
  margin-bottom: 6rem; }

.character-spacing {
  margin-top: -2.4rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }

.fade {
  animation-name: fade;
  animation-duration: .5s; }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none; }

.btn--main {
  color: #fff;
  border: none;
  border-bottom: 2px solid #01bc67;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all .3s; }
  .btn--main:hover {
    background-color: #01bc67;
    border-radius: 5rem;
    padding: 1rem 4rem;
    text-shadow: 0px 5px 10px #000; }
  @media only screen and (max-width: 56.25em) {
    .btn--main {
      background-color: #01bc67;
      border-radius: 5rem;
      padding: 1rem 4rem;
      text-shadow: 0px 5px 10px #000; } }

.btn--purchase {
  background-color: #01bc67;
  border-radius: 3px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 3rem;
  margin-top: 2rem;
  text-shadow: 0px 5px 10px #000;
  transition: all .3s; }
  .btn--purchase:hover {
    transform: translateY(-0.3rem); }

.character {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  transform: skewY(4deg); }
  .character > * {
    transform: skewY(-4deg); }
  @media only screen and (max-width: 75em) {
    .character {
      transform: skewY(0);
      grid-template-columns: repeat(2, 1fr); }
      .character > * {
        transform: skewY(0); }
      .character:not(:last-child) {
        margin-bottom: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .character {
      grid-template-columns: repeat(1, 1fr); } }
  .character__box {
    backface-visibility: hidden;
    overflow: hidden; }
    @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
      .character__box {
        -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 96%);
        clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 96%); } }
    @media only screen and (max-width: 75em) {
      .character__box {
        -webkit-clip-path: none;
        clip-path: none; } }
    .character__box--img-1, .character__box--img-2, .character__box--img-3, .character__box--img-4, .character__box--img-5, .character__box--img-6, .character__box--img-7, .character__box--img-8 {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 60rem;
      transition: all .3s; }
      @media only screen and (max-width: 75em) {
        .character__box--img-1, .character__box--img-2, .character__box--img-3, .character__box--img-4, .character__box--img-5, .character__box--img-6, .character__box--img-7, .character__box--img-8 {
          height: 50rem;
          pointer-events: none;
          transform: scale(1); } }
      @media only screen and (max-width: 37.5em) {
        .character__box--img-1, .character__box--img-2, .character__box--img-3, .character__box--img-4, .character__box--img-5, .character__box--img-6, .character__box--img-7, .character__box--img-8 {
          height: 65rem; } }
      @media only screen and (max-width: 25.875em) {
        .character__box--img-1, .character__box--img-2, .character__box--img-3, .character__box--img-4, .character__box--img-5, .character__box--img-6, .character__box--img-7, .character__box--img-8 {
          height: 50rem; } }
      .character__box--img-1:hover, .character__box--img-2:hover, .character__box--img-3:hover, .character__box--img-4:hover, .character__box--img-5:hover, .character__box--img-6:hover, .character__box--img-7:hover, .character__box--img-8:hover {
        transform: scale(1.05); }
      .character__box--img-1:hover .character__info, .character__box--img-2:hover .character__info, .character__box--img-3:hover .character__info, .character__box--img-4:hover .character__info, .character__box--img-5:hover .character__info, .character__box--img-6:hover .character__info, .character__box--img-7:hover .character__info, .character__box--img-8:hover .character__info {
        top: 35rem; }
    .character__box--img-1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../media/characters/cloud.jpg); }
    .character__box--img-2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../media/characters/aerith.jpg); }
    .character__box--img-3 {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../media/characters/tifa.jpg); }
    .character__box--img-4 {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../media/characters/barret.jpg); }
    .character__box--img-5 {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../media/characters/sephiroth.jpg); }
    .character__box--img-6 {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../media/characters/reno.jpg); }
    .character__box--img-7 {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../media/characters/rude.jpg); }
    .character__box--img-8 {
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../media/characters/ifrit.jpg); }
  .character__info {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.596);
    top: 60rem;
    height: 24rem;
    width: 100%;
    transition: all .3s; }
    @media only screen and (max-width: 75em) {
      .character__info {
        top: 29rem;
        height: 22rem; } }
    @media only screen and (max-width: 56.25em) {
      .character__info {
        top: 34rem;
        height: 16rem; } }
    @media only screen and (max-width: 37.5em) {
      .character__info {
        font-size: 1.8rem;
        top: 48rem;
        height: 20rem; } }
    @media only screen and (max-width: 25.875em) {
      .character__info {
        top: 34rem; } }
    .character__info--name {
      font-size: 2rem;
      width: 26rem;
      margin: 1rem auto; }
      @media only screen and (max-width: 75em) {
        .character__info--name {
          font-size: 1.6rem;
          width: 20rem; } }
      @media only screen and (max-width: 56.25em) {
        .character__info--name {
          font-size: 2rem;
          width: 24rem; } }
      @media only screen and (max-width: 37.5em) {
        .character__info--name {
          width: 30rem; } }
    .character__info--bio {
      font-size: 1.3rem;
      width: 26rem;
      margin: 0 auto; }
      @media only screen and (max-width: 75em) {
        .character__info--bio {
          width: 20rem;
          font-size: 1.2rem; } }
      @media only screen and (max-width: 56.25em) {
        .character__info--bio {
          width: 24rem; } }
      @media only screen and (max-width: 37.5em) {
        .character__info--bio {
          width: 30rem; } }

.modal-container {
  animation-name: zoom;
  animation-duration: 1s;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10000000; }
  .modal-container__toggle {
    font-size: 3.8rem;
    position: fixed;
    top: 2rem;
    right: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .modal-container__toggle {
        top: 1rem; } }
    .modal-container__toggle--icon {
      color: #fff;
      text-shadow: 0px 5px 10px #000;
      transition: all .3s; }
      .modal-container__toggle--icon:hover {
        color: #01bc67;
        cursor: pointer; }
  .modal-container__content {
    border: 2px solid #01bc67;
    background-color: #000;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%    !important;
    height: auto   !important; }
  .modal-container__img {
    width: 100% !important;
    height: auto !important;
    display: block; }
  .modal-container__vid {
    display: block;
    margin: 0 auto;
    width: 90% !important;
    height: 90vh !important; }
    @media only screen and (max-width: 37.5em) {
      .modal-container__vid {
        height: 40vh !important; } }

.modal-toggle {
  display: none; }
  .modal-toggle--position {
    color: #fff;
    position: fixed;
    top: 2rem;
    right: 2rem;
    padding: 1rem;
    z-index: 10000001; }
    @media only screen and (max-width: 56.25em) {
      .modal-toggle--position {
        top: 3rem;
        right: 1rem; } }
    @media only screen and (max-width: 37.5em) {
      .modal-toggle--position {
        top: 12rem;
        right: 0; } }
  .modal-toggle--icon {
    cursor: pointer;
    font-size: 3.8rem;
    text-shadow: 0px 3px 10px #0f0f0f;
    transition: all .3s; }
    .modal-toggle--icon:hover {
      color: #01bc67; }

.purchase {
  color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem;
  max-width: 114rem;
  margin: 6rem auto 0;
  padding: 0 6rem; }
  @media only screen and (max-width: 37.5em) {
    .purchase {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 6rem; } }
  .purchase-box {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3px;
    padding: 2.4rem 0;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5);
    text-align: center; }
    .purchase-box__heading {
      font-size: 2rem;
      text-shadow: 0px 5px 10px #000;
      margin-bottom: 2rem; }
    .purchase-box__img {
      width: 100%; }
      .purchase-box__img:hover {
        cursor: pointer; }
    .purchase-box__text {
      font-size: 1.5rem;
      line-height: 1.7; }

.footer {
  background-color: #000;
  color: #fff;
  padding: 3rem;
  text-align: center;
  z-index: 30000; }
  .footer__text {
    font-size: 1.4rem; }
    .footer__text-link {
      color: #01bc67;
      text-decoration: none;
      transition: all .3s; }
      .footer__text-link:hover {
        color: #fff; }
  .footer__logo {
    margin-top: 2rem;
    width: 25%; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo {
        width: 50%; } }
    @media only screen and (max-width: 25.875em) {
      .footer__logo {
        width: 70%; } }

.gallery {
  margin-top: 6rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 0 6rem; }
  @media only screen and (max-width: 37.5em) {
    .gallery {
      grid-template-columns: repeat(2, 1fr);
      padding: 0 2rem; } }
  .gallery__container {
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    border: 2px solid transparent;
    backface-visibility: hidden;
    transition: all .3s; }
    .gallery__container:hover {
      border: 2px solid #01bc67; }
  .gallery__img {
    display: block;
    transform: scale(1.1);
    transition: all .3s;
    opacity: 0.7;
    overflow: hidden;
    width: 100%; }
    .gallery__img:hover {
      cursor: pointer;
      opacity: 1;
      transform: scale(1.03); }

.header {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url("../media/background/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .header {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("../media/background/header-mobile.jpg");
      background-attachment: scroll; } }
  .header-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header-container__text-box {
      margin-bottom: 2rem; }
    .header-container__img {
      width: 70%; }
    .header-container__countdown {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 3rem; }
    .header-container__countdown-box--1 {
      font-size: 5rem;
      display: block; }
      @media only screen and (max-width: 25.875em) {
        .header-container__countdown-box--1 {
          font-size: 4rem; } }
    .header-container__countdown-box--2 {
      display: block;
      color: #01bc67;
      font-size: 3rem;
      font-weight: 700;
      letter-spacing: 3px;
      text-shadow: 0px 5px 10px #000; }
      @media only screen and (max-width: 25.875em) {
        .header-container__countdown-box--2 {
          font-size: 2.5rem; } }

.navigation__button {
  background-image: linear-gradient(#238338, #02410c);
  border-radius: 1rem;
  position: fixed;
  top: 5.5rem;
  right: 3.5rem;
  width: 6.5rem;
  height: 6.5rem;
  z-index: 3000; }

.navigation__toggle {
  color: #fff;
  position: fixed;
  top: 7rem;
  right: -6.7rem;
  width: 15rem;
  height: 7rem;
  z-index: 4000; }
  @media only screen and (max-width: 56.25em) {
    .navigation__toggle {
      top: 7.1rem;
      right: -6.9rem; } }
  .navigation__toggle--icon {
    cursor: pointer;
    font-size: 3.5rem;
    transition: all .3s; }
    .navigation__toggle--icon:hover {
      text-shadow: 0px 3px 10px #0f0f0f;
      transform: translateY(-0.2rem); }

.navigation__background {
  background-image: linear-gradient(#12501f, #012206);
  height: 100vh;
  width: 100%;
  position: fixed;
  text-align: center;
  opacity: 0;
  transition: all .2s;
  z-index: -1000; }

.navigation__list {
  list-style: none;
  position: absolute;
  top: 50%;
  left: -10rem;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: all .3s; }

.navigation__item:not(:last-child) {
  margin-bottom: 4rem; }

.navigation__link:link, .navigation__link:visited {
  color: #fff;
  font-weight: 900;
  font-size: 4rem;
  text-decoration: none;
  transition: all .2s; }
  .navigation__link:link:hover, .navigation__link:visited:hover {
    text-shadow: 0px 3px 10px #0f0f0f; }

.story-content {
  display: grid;
  grid-template-columns: 40rem 1fr;
  margin-bottom: 6rem; }
  @media only screen and (max-width: 56.25em) {
    .story-content {
      grid-template-columns: repeat(1, 1fr); } }
  @media only screen and (max-width: 56.25em) {
    .story-content__empty {
      display: none; } }
  .story-content__text-box {
    padding-right: 4rem; }
    .story-content__text-box--text {
      font-size: 1.7rem;
      text-align: left; }
      .story-content__text-box--text:not(:last-child) {
        margin-bottom: 3rem; }
      @media only screen and (max-width: 56.25em) {
        .story-content__text-box--text {
          text-align: left; } }
    @media only screen and (max-width: 56.25em) {
      .story-content__text-box {
        background-color: rgba(0, 0, 0, 0.699);
        border-radius: 3px;
        padding: 2rem; } }

.trailers {
  margin: 0 auto;
  max-width: 114rem;
  padding: 0 2rem;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .trailers {
      max-width: 100rem; } }
  @media only screen and (max-width: 37.5em) {
    .trailers {
      max-width: 50rem; } }
  .trailers__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .trailers__grid {
        grid-template-columns: repeat(1, 1fr); } }
  .trailers__current {
    margin-top: 2rem; }
  .trailers__thumbnails {
    display: block; }
    .trailers__thumbnails--img {
      border: 2px solid transparent;
      border-radius: 3px;
      display: block;
      transition: all .3s;
      width: 100%; }
      .trailers__thumbnails--img:hover {
        cursor: pointer;
        border: 2px solid #01bc67; }
      @media only screen and (max-width: 37.5em) {
        .trailers__thumbnails--img {
          margin: 0 auto;
          width: 80%; } }
  .trailers__heading {
    font-size: 2rem;
    padding-top: .5rem;
    text-align: center;
    text-shadow: 0px 5px 10px #000; }
  .trailers__next, .trailers__prev {
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #01bc67;
    border-radius: 5rem;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: .5rem 1.5rem;
    position: absolute;
    top: 45%;
    transform: translate(0, -50%);
    transition: .3s ease;
    user-select: none; }
  .trailers__prev {
    left: 4rem; }
  .trailers__next {
    right: 4rem; }
  .trailers__prev:hover, .trailers__next:hover {
    background-color: #01bc67; }

section {
  padding: 6rem 0;
  background-color: #000 !important;
  background-size: cover;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 56.25em) {
    section {
      background-attachment: scroll !important; } }

.story-section {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), black), url("../media/background/story.jpg");
  background-attachment: fixed;
  background-position: center;
  position: relative;
  z-index: 2000; }
  @media only screen and (max-width: 75em) {
    .story-section {
      background-position: top; } }
  @media only screen and (max-width: 56.25em) {
    .story-section {
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), black), url("../media/background/story.jpg");
      background-position: center; } }

.trailer-section {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), black), url("../media/background/trailer.jpg");
  background-position: top;
  padding: 20rem 0; }
  @media only screen and (max-width: 37.5em) {
    .trailer-section {
      padding: 6rem 0; } }

.gallery-section {
  color: #fff;
  margin-top: -8rem;
  padding: 6rem 0 14rem;
  position: relative;
  transform: skewY(4deg); }
  .gallery-section > * {
    transform: skewY(-4deg); }
  @media only screen and (max-width: 75em) {
    .gallery-section {
      transform: skewY(0);
      margin-top: -6rem; }
      .gallery-section > * {
        transform: skewY(0); } }

.purchase-section {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), black), url("../media/background/purchase.jpg");
  background-attachment: fixed;
  background-position: top;
  position: relative;
  margin-top: -6rem; }
  @media only screen and (max-width: 37.5em) {
    .purchase-section {
      background-position: right;
      background-size: cover; } }
