// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {
    @if $breakpoint == older-phone {
        @media only screen and (max-width: 20em) { @content };
    }
    @if $breakpoint == smaller-phone {
        @media only screen and (max-width: 25.875em) { @content };
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };
    }
    @if $breakpoint == tablet-portrait {
        @media only screen and (max-width: 56.25em) { @content };
    }
    @if $breakpoint == tablet-mid {
        @media only screen and (max-width: 66.25em) { @content };
    }
    @if $breakpoint == tablet-landscape {
        @media only screen and (max-width: 75em) { @content };
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };
    }
}

// Background Image Manager
@mixin backgroundImage($gradient-position, $top-opacity, $bottom-opacity, $image) {
    background-image: linear-gradient($gradient-position,
        rgba(0, 0, 0, $top-opacity),
        rgba(0, 0, 0, $bottom-opacity)),
    url($image);
}

// Adds Skew
@mixin addSkewY {
    transform: skewY(4deg);   
    & > * { transform: skewY(-4deg); }
}

// Removes Skew
@mixin removeSkewY {
    transform: skewY(0);
    & > * { transform: skewY(0); }
}