.footer {
   background-color: rgb(24, 24, 24);
   padding: 3rem;
   text-align: center;
   grid-column: full-start / full-end;

   &__text {
      font-size: 1.4rem;
   }

   &__link {
      color: $primary-color-light;
      text-decoration: none;
      transition: all .2s;

      &:hover {
         color: $primary-color;
      }
   }
}
