// Footer
.footer {
    background-color: #000;
    color: #fff;
    padding: 4rem;
    text-align: center;
    z-index: 30000;

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    &__logo {
        margin-bottom: 2rem;
        width: 100%;

        @include respond(tablet-portrait) {
            width: 50%;
        }

        @include respond(smaller-phone) {
            width: 70%;
        }
    }

    &__text {
        font-size: 1.4rem;

        &-link {
            color: $primary-color-light;
            text-decoration: none;
            transition: all .2s;

            &:hover {
                color: #fff;
            }
        }
    }
}