.gallery {
    margin-top: 6rem;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding: 0 6rem;

    @include respond(phone) { 
        grid-template-columns: repeat(2, 1fr);
        padding: 0 2rem;
    }

    &__container {
        // background-color: #000;
        border-radius: 3px;
        overflow: hidden;
        position: relative;
        border: 2px solid transparent;
        backface-visibility: hidden;
        transition: all .3s;
        
        &:hover {
            border: 2px solid #01bc67;
        }
    }

    &__img {
        display: block;
        transform: scale(1.10);
        transition: all .3s;
        opacity: 0.7;
        overflow: hidden;
        width: 100%;

        &:hover {
            cursor: pointer;
            opacity: 1;
            transform: scale(1.03);
        }
    }
}