.header {
    @include backgroundImage(to right, .8, .2,'../media/background/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    width: 100%;

    @include respond(phone) {
        @include backgroundImage(to bottom, 0, .6,'../media/background/header-mobile.jpg');
        background-attachment: scroll;
    }

    &-container {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;


        &__text-box {
            margin-bottom: 2rem;
        }

        &__img {
            width: 65%;
        }

        &__countdown {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 3rem;
        }

        &__countdown-box {

            &--1 {
                font-size: 5rem;
                display: block;
                @include respond(smaller-phone) {
                    font-size: 4rem;
                }
            }

            &--2 {
                display: block;
                color: #01bc67;
                font-size: 3rem;
                font-weight: 700;
                letter-spacing: 3px;
                text-shadow: 0px 5px 10px #000;

                @include respond(smaller-phone) {
                    font-size: 2.5rem;
                }
            }
        }
    }
}