.header {
   @include backgroundImage(to right, .8, .2,'../media/background/header.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   grid-column: full-start / full-end;

   display: grid;
   align-items: center;
   
   @include respond(tablet-portrait) {
      @include backgroundImage(to bottom, .7, .7,'../media/background/header-mobile.jpg');
      background-attachment: scroll;
      text-align: center;
   }

   &__text-box {
      padding: 0 10%;
   }

   &__img {
      max-height: 25rem;
      max-width: 100%;

      @include respond(tablet-portrait) {
         max-height: 18rem;
      }
   }

   &__countdown {
      display: inline-block;
      text-align: center;
      margin-top: 1rem;

      &:not(:last-child) {
         margin-right: 3rem;
      }

      @include respond(tablet-portrait) {
         &:not(:last-child) {
            margin-right: 1.3rem;
         }
      }
      
      &--1 {
         text-align: center;
         font-size: 3.5rem;
         display: block;

         @include respond(tablet-portrait) {
            font-size: 2.5rem;
         }

      }

      &--2 {
         display: block;
         color: $primary-color;
         font-size: 2rem;
         font-weight: 700;
         letter-spacing: 3px;
         text-shadow: 0px 5px 10px #000;

         @include respond(tablet-portrait) {
            font-size: 1.7rem;
         }
      }

   }

   &__btn {
      @include respond(phone) {
         display: flex;
         flex-direction: column;
         // display: block;
         width: 30rem;
         margin: 0 auto;
      }
   }

   &__btn a {
      margin-top: 3rem;
      
      &:not(:last-child) {
         margin-right: 2rem;
      }

      @include respond(phone) {
         &:not(:last-child) {
            margin-right: 0;
         }
      }
   }


   // &__waves {
   //    // width: 100%;
   //    // height: 100vh;
   //    overflow: hidden;

   //    @include respond(tablet-portrait) {
   //       display: none;
   //    }
   // }

   // &__wave--1,
   // &__wave--2,
   // &__wave--3,
   // &__wave--4 {
   //    animation: waveAnimation 30s linear infinite;
   //    position: absolute;
   //    bottom: 0;
   //    left: 0;
   //    width: 100%;
   //    height: 100px;
   // }

   // &__wave--2,
   // &__wave--3 {
   //    animation-direction: reverse;
   // }

   // &__wave--1 {
   //    background: url(../media/assets/wave-2.svg);
   //    opacity: .1;
   // }

   // &__wave--2 {
   //    background: url(../media/assets/wave-2.svg);
   //    opacity: .2;
   // }

   // &__wave--3 {
   //    background: url(../media/assets/wave-1.svg);
   //    opacity: .1;
   // }

   // &__wave--4 {
   //    background: url(../media/assets/wave-1.svg);
   //    opacity: .2;
   // }

}