.navigation {
    position: relative;
    
    &__button {
        background-image: linear-gradient(
            rgb(30, 157, 227),
            rgb(21, 100, 190));
        border-radius: 1rem;
        position: fixed;
        top: 5.5rem;
        right: 2rem;
        width: 6rem;
        height: 6rem;
        z-index: 3000;
    }

    &__toggle {
        position: fixed;
        top: 6.7rem;
        right: 3.5rem;
        text-align: center;
        text-shadow: 0px 2px 4px #000;
        z-index: 4000;

        &--icon {
            cursor: pointer;
            font-size: 3.3rem;
            transition: all .3s;

            &:hover {
                text-shadow: 0px 3px 10px rgb(15, 15, 15);
                transform: translateY(-.1rem)
            }
        }
    }

    &__background {
        background-image: linear-gradient(
            rgb(30, 157, 227),
            rgb(21, 30, 160));
        height: 100vh;
        width: 100%;
        position: fixed;
        text-align: center;
        opacity: 0;
        transition: all .2s;
        z-index: -1000;
    }

    &__list {
        list-style: none;
        position: absolute;
        top: 50%;
        left: 0;
        text-shadow: 0px 2px 4px #000;
        transform: translate(-50%, -50%);
        width: 100%;
        transition: all .3s;
    }

    &__item {
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: #fff;
            font-weight: 900;
            font-size: 4rem;
            text-decoration: none;
            transition: all .2s;

            &:hover {
                text-shadow: 0px 3px 10px rgb(15, 15, 15);
            }
        }
    }
}