.navigation {

    &__button {
        background-image: linear-gradient(
            rgb(35, 131, 56),
            rgb(2, 65, 12));
        border-radius: 50rem;
        position: fixed;
        top: 5rem;
        right: 3rem;
        width: 8rem;
        height: 8rem;
        z-index: 3000;
    }

    &__toggle {
        color: #fff;
        position: fixed;
        top: 7rem;
        right: -6.3rem;
        width: 15rem;
        height: 7rem;
        z-index: 4000;

        @include respond(tablet-portrait) {
            top: 7.2rem;
            right: -6.4rem;
        }

        &--icon {
            cursor: pointer;
            font-size: 3.8rem;
            text-shadow: 0px 3px 10px rgb(15, 15, 15);
            transition: all .3s;

            &:hover {
                transform: translateY(-.2rem);
            }
        }
    }

    &__background {
        // background-color: $primary-color;
        background-image: linear-gradient(
            rgb(35, 131, 56),
            rgb(2, 65, 12));

        height: 100vh;
        width: 100%;
        position: fixed;
        text-align: center;
        opacity: 0;
        transition: all .2s;
        z-index: -1000;
    }

    &__list {
        list-style: none;
        position: absolute;
        top: 50%;
        left: -10rem;
        transform: translate(-50%, -50%);
        width: 100%;
        transition: all .3s;
    }

    &__item {

        &:not(:last-child) {
            margin-bottom: 4rem;
        }
    }

    &__link {
        color: #fff;
        font-weight: 900;
        text-shadow: 0px 3px 10px rgb(15, 15, 15);

        &:link,
        &:visited {
            font-size: 4rem;
            text-decoration: none;
        }
    }
}