.story {
   &__content {
      background-image: linear-gradient(to right,
      rgba(0, 0, 0, .4),
      rgba(0, 0, 0, 1));
      grid-column: center-start / col-end 4;
      padding: 6rem 0;

      @include respond(tablet-portrait) {
         @include backgroundImage(to bottom, .8, .8,'../media/background/story.jpg');
         background-position: right;
         background-size: cover;
         grid-column: 1 / -1;
      }
   }

   &__picture {
      @include backgroundImage(to right, 1, .1,'../media/background/story.jpg');
      background-position: right;
      background-size: cover;
      grid-column: col-start 5 / full-end;

      @include respond(tablet-portrait) { display: none; }
   }

   &__text p {
      font-size: 1.4rem;
      text-align: left;

      &:not(:last-child) {
         margin-bottom: 3rem;
      }

      @include respond(tablet-portrait) {
         margin: 0 auto;
         max-width: 50rem;
         padding: 0 2rem;
      }

      @include respond(phone) {
         padding: 0 10%;
      }
   }
}