.story {
    margin-top: 4rem;
    padding: 0 2rem;

    &__text {
        font-size: 1.8rem;
        text-align: center;

        &:not(:last-child) {
            margin-bottom: 3rem;
        }

        @include respond(tablet-portrait) {
            text-align: left;
        }
    }
}
