.story-content {
    display: grid;
    grid-template-columns: 40rem 1fr;
    margin-bottom: 6rem;
    // padding: 0 6rem;

    @include respond(tablet-portrait) {
        grid-template-columns: repeat(1, 1fr);
    }

    &__empty {
        @include respond(tablet-portrait) {
            display: none;
        }
    }

    &__text-box {
        padding-right: 4rem;

        &--text {
            font-size: 1.7rem;
            text-align: left;
    
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
    
            @include respond(tablet-portrait) {
                text-align: left;
            }
        }

        @include respond(tablet-portrait) {
            background-color: rgba(0, 0, 0, 0.699);
            border-radius: 3px;
            padding: 2rem;
        }
    }
}
