// BUTTON STYLES
.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
    }

    &--main {
        color: #fff;
        border: none;
        border-bottom: 2px solid $primary-color;
        font-size: 2rem;
        font-weight: 700;
        margin-top: 3rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        transition: all .3s;

        &:hover {
            background-color: $primary-color;
            border-radius: 5rem;
            padding: 1rem 4rem;
            text-shadow: 0px 5px 10px #000;
        }

        @include respond(tablet-portrait) {
            background-color: $primary-color;
            border-radius: 5rem;
            padding: 1rem 4rem;
            text-shadow: 0px 5px 10px #000;
        }
    }

    &--editions {
        background-color: $primary-color;
        border: 2px solid transparent;
        border-radius: 2px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: 2rem;
        padding: 1rem 3rem;
        text-shadow: 0px 5px 10px #000;
        transition: all .2s;
     
        &:not(:last-child) {
            margin-right: 1.5rem;
        }

        @include respond(phone) {
            display: block;

            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 1rem;
            }
        }
    }

    &--purchase {
        background-color: $primary-color;
        border-radius: 3px;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 600;
        padding: 1rem 3rem;
        margin-top: 2rem;
        text-shadow: 0px 5px 10px #000;
        transition: all .3s;
        display: block !important;
        text-align: center;
     
        &:hover {
            transform: translateY(-.3rem)
        }
    }
}

.active, .btn--editions:hover {
    background-color: #000;
    border: 2px solid $primary-color;
}