.characters {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   
   @include addSkewY;
   @include respond(tablet-landscape) { 
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
      @include removeSkewY;
   }
}

.character {
   backface-visibility: hidden;
   overflow: hidden;
   
   @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
      -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 96%);
      clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 96%);
   }

   @include respond(tablet-landscape) {
      -webkit-clip-path: none;
      clip-path: none;
   }

   &__img {
      &--1,
      &--2,
      &--3,
      &--4 {
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         height: 56rem;
         transition: all .3s;

         @include respond(tablet-landscape) { 
            height: 50rem;
            pointer-events: none;
            transform: scale(1);
         }

         @include respond(phone) { height: 65rem; }
         @include respond(smaller-phone) { height: 50rem; }

         &:hover {
            filter: drop-shadow(1.5px 1.5px 1.5px $primary-color-dark);
            transform: scale(1.05);
         }

         &:hover .character__info{ top: 37rem; }
      }
      
      &--1 { @include backgroundImage(to bottom, 0, .7,'../media/characters/cloud.png'); }
      &--2 { @include backgroundImage(to bottom, 0, .7,'../media/characters/aerith.png'); }
      &--3 { @include backgroundImage(to bottom, 0, .7,'../media/characters/tifa.png'); }
      &--4 { @include backgroundImage(to bottom, 0, .7,'../media/characters/barret.png'); }
   }

   &__info {
      position: absolute;
      background-color: rgba(0, 0, 0, 0.596);
      top: 60rem;
      height: 24rem;
      width: 100%;
      transition:  all .3s;

      @include respond(tablet-landscape) { 
         top: 34rem;
         height: 22rem;
      }

      @include respond(phone) { 
         font-size: 1.8rem;
         top: 48rem;
         height: 20rem;
      }

      @include respond(smaller-phone) { 
         top: 34rem;
      }

      &--name {
         font-size: 2rem;
         width: 26rem;
         margin: 1rem auto;
      }

      &--bio {
         font-size: 1.3rem;
         width: 26rem;   
         margin: 0 auto;         
      }
   }
}