.character {
    // padding: 0 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    @include addSkewY;
    @include respond(tablet-landscape) { 
        @include removeSkewY;
        grid-template-columns: repeat(2, 1fr);

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    @include respond(phone) {
        grid-template-columns: repeat(1, 1fr);
    }

    &__box {
        backface-visibility: hidden;
        overflow: hidden;
        
        @supports (-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0)) {
            -webkit-clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 96%);
            clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 96%);
        }
    
        @include respond(tablet-landscape) {
            -webkit-clip-path: none;
            clip-path: none;
        }


        &--img {
            &-1,
            &-2,
            &-3,
            &-4,
            &-5,
            &-6,
            &-7,
            &-8 {
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 60rem;
                transition: all .3s;

                @include respond(tablet-landscape) { 
                    height: 50rem;
                    pointer-events: none;
                    transform: scale(1);
                }

                @include respond(phone) { 
                    height: 65rem;
                }

                @include respond(smaller-phone) { 
                    height: 50rem;
                }


                &:hover {
                    transform: scale(1.05);
                }

                &:hover .character__info{
                    top: 35rem;
                }
            }

            &-1 {
                background-image: linear-gradient(
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, .5)),
                url(../media/characters/cloud.jpg);
            }
    
            &-2 {
                background-image: linear-gradient(
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, .5)),
                url(../media/characters/aerith.jpg);
            }
    
            &-3 {
                background-image: linear-gradient(
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, .5)),
                url(../media/characters/tifa.jpg);
            }
    
            &-4 {
                background-image: linear-gradient(
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, .5)),
                url(../media/characters/barret.jpg);
            }

            &-5 {
                background-image: linear-gradient(
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, .5)),
                url(../media/characters/sephiroth.jpg);
            }

            &-6 {
                background-image: linear-gradient(
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, .5)),
                url(../media/characters/reno.jpg);
            }

            &-7 {
                background-image: linear-gradient(
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, .5)),
                url(../media/characters/rude.jpg);
            }

            &-8 {
                background-image: linear-gradient(
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, .5)),
                url(../media/characters/redxiii.jpg);
            }
        }
    }

    &__info {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.596);
        top: 60rem;
        height: 24rem;
        width: 100%;
        transition:  all .3s;

        @include respond(tablet-landscape) { 
            top: 29rem;
            height: 22rem;
        }

        @include respond(tablet-portrait) { 
            top: 34rem;
            height: 16rem;
        }

        @include respond(phone) { 
            font-size: 1.8rem;
            top: 48rem;
            height: 20rem;
        }

        @include respond(smaller-phone) { 
            top: 34rem;
        }

        &--name {
            font-size: 2rem;
            width: 26rem;
            margin: 1rem auto;

            @include respond(tablet-landscape) { 
                font-size: 1.6rem;
                width: 20rem;
            }

            @include respond(tablet-portrait) { 
                font-size: 2rem;
                width: 24rem;
            }

            @include respond(phone) { 
                width: 30rem;
            }
        }

        &--bio {
            font-size: 1.3rem;
            width: 26rem;   
            margin: 0 auto;         

            @include respond(tablet-landscape) { 
                width: 20rem;
                font-size: 1.2rem;
            }

            @include respond(tablet-portrait) { 
                width: 24rem;
            }

            @include respond(phone) { 
                width: 30rem;
            }
        }
    }
}