.grid {
   display: grid;
   grid-template-rows: auto 100vh repeat(6, min-content);
   grid-template-columns:
      [full-start] minmax(auto, 1fr) 
      [center-start] repeat(8, [col-start] minmax(min-content, 1fr) [col-end]) [center-end] 1fr [full-end]; 
}

section { padding: 8rem 0; }

.trailers-section {
   @include backgroundImage(to right, .8, .2,'../media/background/trailer.jpg');
   background-size: cover;
   background-attachment: fixed;
   grid-column: full-start / full-end;

   @include respond(tablet-portrait) {
      background-attachment: scroll;
   }
}

.characters-section { grid-column: full-start / full-end; }
.gallery-section { grid-column: center-start / center-end; }

.purchase-section {
   @include backgroundImage(to right, .8, .2,'../media/background/purchase.jpg');
   background-attachment: fixed;
   background-size: cover;
   background-color: rgb(90, 173, 211);
   grid-column: full-start / full-end;
}