section {
    padding: 6rem 0;
}

// STORY SECTION
.story-section {
    padding: 6rem 0;
    background-color: rgb(41, 41, 41);

    background-image: linear-gradient(
        rgba(0, 0, 0, .7),
        rgba(0, 0, 0, .7)),
    url(../media/announcement-trailer.jpg);
    background-attachment: fixed;
    background-position: top;
    background-size: cover;

    position: relative;
    z-index: 111111;

}

// mess with js
.trailer-section {
    background: rgb(0, 0, 0);
    overflow: hidden;
    background-image: linear-gradient(
        rgba(0, 0, 0, .7),
        rgba(0, 0, 0, .6)),
    url(../media/bottom-lifestream.jpg);
    // background-attachment: fixed;
    background-position: top;
    background-size: cover;


    color: #fff;
    margin-top: -6rem;

    // give it a third value, use 0 to remember
    padding: 10rem 0 6rem;
    position: relative;
    transform: skewY(4deg);   
    & > * { transform: skewY(-4deg); }
    z-index: 11111;

    @include respond(tablet-portrait) { 
        transform: skewY(0);
        & > * { transform: skewY(0); }
    }
}


// CHARACTER SECTION
.character-info-section {
    // might be needed
    // padding: 6rem 0;
    margin-top: -5rem;
}


// GALLERY SECTION
// mess with js
.gallery-section {
    background-color: #000;
    background-image: linear-gradient(
        rgba(0, 0, 0, .7),
        rgba(0, 0, 0, .6)),
    url(../media/top-lifestream.jpg);
    // background-attachment: fixed;
    background-position: center;
    background-size: cover;
    
    color: #fff;
    margin-top: -8rem;
    padding: 6rem 0 14rem;
    position: relative;
    transform: skewY(4deg);   
    & > * { transform: skewY(-4deg); }

    @include respond(tablet-portrait) { 
        transform: skewY(0);
        & > * { transform: skewY(0); }
        // margin-top: 0;
    }
}

// PURCHASE SECTION
.purchase-section {
    background-color: rgb(22, 22, 22);
    padding: 6rem 0;
    position: relative;
    margin-top: -6rem;

    background-image: linear-gradient(
        rgba(0, 0, 0, .7),
        rgba(0, 0, 0, .7)),
    url(../media/sephiroth-bg.jpg);

    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
