section {
    padding: 6rem 0;
    background-color: #000 !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include respond(tablet-portrait) {
        background-attachment: scroll !important;
    }
}

// STORY SECTION
.story-section {
    @include backgroundImage(to left, 0, 1,'../media/background/story.jpg');
    background-attachment: fixed;

    @include respond(tablet-portrait) {
        @include backgroundImage(to bottom, .2, 1, '../media/background/story.jpg');
    }
}

.trailer-section {
    @include backgroundImage(to bottom, .2, 1,'../media/background/trailer.jpg');
}

.character-section {
    padding: 6rem 0 10rem;
}

// GALLERY SECTION
.gallery-section {
    @include addSkewY;
    @include respond(tablet-landscape) { @include removeSkewY; }
}

// PURCHASE SECTION
.purchase-section {
    @include backgroundImage(to bottom, .2, 1,'../media/background/purchase.jpg');
    background-attachment: fixed;
    position: relative;
}